<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<h1 class="title" style="width: 20;">Products</h1>

<a href="/add" class="add-btn"> AddProduct</a>

<div class="products">
    {% for pr in products %}
    <a href="/product/{{ pr.id }}" class="card">
        <img src="/images/{{ pr.image }}" class="product-image">
        <h2>{{ pr.Name }}</h2>
        <p class="price">$ {{ pr.price }}</p>
    </a>
    {% endfor %}
</div>

</body>
</html>
